body, div {
    padding: 0;
    margin: 0;
}

.vis-item {
    border-color: #888888;
}

.vis-item.create {
    border-color: #000000;
}

.vis-item.kill, .vis-item.die, .vis-item.destroy {
    border-color: orangered;
}

.timelineContainer {
    float: left;
    width: 50%;
}

.networkContainer {
    float: left;
    width: 50%;
}

.vis-network {
    border: 1px solid #bfbfbf;
}
